.mainShowPage {
    text-align: center;
    padding-top: 2%;
}

.carouselStyle {
    margin: 2% 0;
}

/* responsive */

@media all and (max-width:600px){
    .carouselStyle {
        padding-top: 4%;
    }
        
    .mainShowPage {
        padding-top: 10%;
    }

    .mainShowPage h2 {
        font-weight: bold;
        padding-bottom: 5%;
    }    
}

@media all and (max-width:1400px){
    .carouselStyle {
        padding-top: 4%;
    }
        
    .mainShowPage {
        padding-top: 5%;
    }

    .mainShowPage h2 {
        font-weight: bold;
        font-size: 2.5em;
        padding-bottom: 3%;
    }    
}
