body {
    background-color: beige;
    font-family: 'Fira Sans', sans-serif;

}

/* h1 {
    font-family: 'EB Garamond', serif;
    font-size: 3.5rem;
    text-shadow: 2px 2px rgb(255, 75, 75, 0.6);
} */